@import "~@fluentui/react/dist/sass/References.scss";

.surveyCard {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(
      --link
    ); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(
        --linkHovered
      ); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}

// .survey-card {
//   width: 360px;
//   background-color: #3caf50;
//   padding: 30px;
//   border-radius: 8px;
//   color: white;
//   position: relative;
//   overflow: hidden;
// }

.tag {
  font-family: "Segoe UI", sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 12px;
  opacity: 0.9;
  margin-bottom: 12px;
  background-color: #7556a2;
  color: white;
  padding: 2px;
  display: inline-block;
  //display: inline;
  padding: 5px 10px;
}

.title {
  color: white;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}

.desc {
  color: white;
  font-size: 14px;
  margin-bottom: 20px;
  opacity: 0.95;
  // width: 410px;
  width: 345px;
}

// .take-survey,
// .view-surveys {
//   display: inline-block;
//   margin-right: 20px;
//   font-weight: bold;
//   color: white;
//   text-decoration: underline;
//   cursor: pointer;
// }

.survaybg {
  background-image: url("../assets/suervy.png");
  //object-fit: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-repeat: no-repeat;
  object-fit: cover;
  // width: 456px;
  // height: 304px;
  width: 100%;
  height: 100%;
  background-size: cover;
  padding: 1rem;
  //border-radius: 10px;
}

.survaybgAr {
  background-image: url("../assets/Ar-Survey.png");
  //object-fit: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-repeat: no-repeat;
  object-fit: cover;
  // width: 456px;
  // height: 304px;
  width: 100%;
  height: 100%;
  background-size: cover;
  padding: 1rem;
  //border-radius: 10px;
}

.survayActions {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
